/* Insert styles here */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('satoshi.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body{
    background: rgb(21, 21, 30);
}

.title{
    font-family: 'Satoshi-Black';
    font-size: 3em;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.standings-container{
    padding: 2em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

.team-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.team-name{
    font-family: "open sans";
    font-size: 2em;
    font-weight: 600;
    color: white;
}

.circle-shape{
    /* Margin to fix height */
    /* background: rgb(34, 115, 194); */
    /* border: 2px solid white; */
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items:center;
    justify-content: center;
}

.team-place{
    font-family: "open sans";
    font-size: 4em;
    font-weight: 600;
    color: white;
}

.team-points{
    font-family: "open sans";
    font-size: 1em;
    font-weight: 500;
    color: white;
}

.red_bull{
    border: 6px solid rgba(34, 115, 194, 1);
}

.ferrari{
    border: 6px solid rgba(254, 0, 55, 1);
}

.mercedes{
    border: 6px solid rgba(101, 212, 192, 1);
}

.mclaren{
    border: 6px solid rgba(250, 124, 48, 1);
}

.alfa{
    border: 6px solid rgba(205, 35, 75, 1);
}

.alpine{
    border: 6px solid rgba(0, 149, 206, 1);
}

.alphatauri{
    border: 6px solid rgba(89, 144, 168, 1);
}

.haas{
    border: 6px solid rgba(182, 186, 189, 1);
}

.aston_martin{
    border: 6px solid rgba(46, 141, 118, 1);
}

.williams{
    border: 6px solid rgba(21, 192, 219, 1);
}

